.card {
	height: 300px; /* Set a fixed height */
	border: 1px solid #ccc; /* Add a border for styling */
	padding: 10px; /* Add some padding to the card content */
	margin-bottom: 20px; /* Add some spacing between cards */
	top: 10%;
  }
  

.container {
    padding-left: 10px;
    
}

#k1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:underline;
    position: absolute;
    top: 80px;
    left: 50px;
}


nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	font-size: 18px;
	font-weight: bold;
}

/* Main content styles */
main {
	margin-top: 100px;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

ul {
	margin-left: 20px;
}

/* Footer styles */
footer {
	background-color: #444;
	color: #fff;
	padding: 20px;
	text-align: center;
}


.card {
    min-height: 200px;
}